#########################################################################################
#                                                                                       #
#                              Requirements                                             #
#                                                                                       #
#########################################################################################

passlib
pure-sasl
pyjwt
python-keycloak>=0.17